.main {
    width: 100%;
    height: 500px;
    color: black;
    margin-top: 65px;
    background-image: url(../../public/assets/home.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 50%;
    background-size: cover;
    text-align: center;
}

@media screen and (max-width: 350px) {
    .main{
        height: auto;
        padding: 15px;
    }
}